.clock {
  margin-left: 120px;
  margin-right: 120px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  height: 2vw;
  background: #019c9c;
  color: #171212;
}

.container {
  margin-left: 120px;
  margin-right: 120px;
  height: 100vw;
  padding: 20px;

  background: #87CEFA;
  background: linear-gradient(to left, #87CEFA, #f0f2f4);

  color: #171212;
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.item  {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.item  > span {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;

}


.item > span > .details {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #828688;

}